/*
Use OKLAB colors to find web colors with a balanced look.
https://observablehq.com/@shan/oklab-color-wheel
*/
:root {
  --bg: #080808;
  --bg_tint1: rgb(29, 24, 24);
  --bg_tint2: rgb(46, 36, 36);
  --bg_alt: #e6d3dd;
  --bg_alt_shade: #c4a5b6;
  --text: #fdfdfd;
  --text_shade: #dddddd;
  --primary: #e9007a;
  --primaryShade: #7f055c;
  --secondary: #C375FA;
  --secondaryShade: #6027b0;
  --textsize: 20px;
  --ctrlLoadSize: 30px;
  --pageLoadSize: 300px;
  --offShift: 20px;
}

/*|| General*/
html {
  height: 100%;
}

body {
  font-family: "Fira Code";
  background-color: var(--bg);
  color: var(--text);
  font-size: var(--textsize);
  height: 100%;
  margin: 0;
}

footer {
  position: relative;
  bottom: 0;
}
footer a {
  color: var(--text);
  text-decoration: none;
  margin-left: 2%;
}

/*|| Utilities */
.content {
  padding: 16px;
}
.content button {
  background-color: var(--secondaryShade);
  border: none;
  padding: 16px;
  color: var(--text);
  border-radius: 2px;
  font-size: 30px;
  transition: background-color 1s;
}
.content button:hover {
  background-color: var(--secondary);
  cursor: pointer;
}
.content button:active {
  background-color: var(--secondaryShade);
  cursor: pointer;
  opacity: 0.7;
}
.content p {
  margin: 32px;
  text-align: justify;
}
.content h1 {
  color: var(--primary);
  margin-left: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}

.hidden {
  display: none !important;
}
.hidden > div {
  display: none;
}

.active {
  background-color: var(--primary);
}

.active_panel {
  background-color: var(--bg_tint2);
}

.pressable.expandable_button.active {
  background-color: var(--primary);
}

.transparent {
  opacity: 0;
}

.invisible {
  visibility: hidden;
}

.expandable_panel {
  max-height: 0px;
}

.loading_bar {
  width: calc(var(--ctrlLoadSize) * 2);
  height: calc(var(--ctrlLoadSize) * 2);
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: none;
  padding: 0;
  margin: 0;
  border: none !important;
  position: relative !important;
}
.loading_bar div {
  border: none !important;
  padding: 0 !important;
  position: absolute !important;
}

.loading_bar_animation {
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loading_bar_animation > div {
  box-sizing: content-box;
}
.loading_bar_animation > div > div {
  transform-origin: var(--ctrlLoadSize) var(--ctrlLoadSize);
  animation: loading 3.0303030303s linear infinite;
  opacity: 0.8;
}
.loading_bar_animation > div > div > div {
  position: absolute;
  left: calc(var(--ctrlLoadSize) * 0.3);
  top: calc(var(--ctrlLoadSize) * 0.3);
  width: calc(var(--ctrlLoadSize) * 0.7);
  height: calc(var(--ctrlLoadSize) * 0.7);
  border-radius: 70px 0 0 0;
  transform-origin: var(--ctrlLoadSize) var(--ctrlLoadSize);
}
.loading_bar_animation > div div:nth-child(1) {
  animation-duration: 0.7575757576s;
}
.loading_bar_animation > div div:nth-child(1) > div {
  background: var(--primary);
  transform: rotate(0deg);
}
.loading_bar_animation > div div:nth-child(2) {
  animation-duration: 1.0101010101s;
}
.loading_bar_animation > div div:nth-child(2) > div {
  background: var(--primaryShade);
  transform: rotate(0deg);
}
.loading_bar_animation > div div:nth-child(3) {
  animation-duration: 1.5151515152s;
}
.loading_bar_animation > div div:nth-child(3) > div {
  background: var(--secondaryShade);
  transform: rotate(0deg);
}
.loading_bar_animation > div div:nth-child(4) {
  animation-duration: 3.0303030303s;
}
.loading_bar_animation > div div:nth-child(4) > div {
  background: var(--secondary);
  transform: rotate(0deg);
}

.page_loading_bar {
  width: 100%;
  height: calc(var(--pageLoadSize) * 2);
  display: inline-block;
  justify-content: center;
  overflow: hidden;
  background: none;
  padding: 0;
  margin: 0;
  border: none !important;
}

.page_loading_bar_animation {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0px;
}
.page_loading_bar_animation > div {
  display: flex;
  box-sizing: content-box;
  justify-content: center;
}
.page_loading_bar_animation > div > div {
  display: flex;
  justify-content: center;
  transform-origin: calc(var(--pageLoadSize)) calc(var(--pageLoadSize));
  animation: loading 3.0303030303s linear infinite;
  opacity: 0.8;
}
.page_loading_bar_animation > div > div > div {
  position: absolute;
  left: calc(var(--pageLoadSize) * 0.3 - var(--offShift));
  top: calc(var(--pageLoadSize) * 0.3 - var(--offShift));
  width: calc(var(--pageLoadSize) * 0.7 + var(--offShift));
  height: calc(var(--pageLoadSize) * 0.7 + var(--offShift));
  border-radius: calc(var(--pageLoadSize)) 0 0 0;
  transform-origin: 0 0;
}
.page_loading_bar_animation > div div:nth-child(1) {
  animation-duration: 0.7575757576s;
}
.page_loading_bar_animation > div div:nth-child(1) > div {
  background: var(--primary);
  transform: rotate(0deg);
}
.page_loading_bar_animation > div div:nth-child(2) {
  animation-duration: 1.0101010101s;
}
.page_loading_bar_animation > div div:nth-child(2) > div {
  background: var(--primaryShade);
  transform: rotate(0deg);
}
.page_loading_bar_animation > div div:nth-child(3) {
  animation-duration: 1.5151515152s;
}
.page_loading_bar_animation > div div:nth-child(3) > div {
  background: var(--secondaryShade);
  transform: rotate(0deg);
}
.page_loading_bar_animation > div div:nth-child(4) {
  animation-duration: 3.0303030303s;
}
.page_loading_bar_animation > div div:nth-child(4) > div {
  background: var(--secondary);
  transform: rotate(0deg);
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#circleStatus {
  width: calc(var(--ctrlLoadSize));
  height: calc(var(--ctrlLoadSize));
  background: red;
  position: relative;
  border: none !important;
  border-radius: calc(var(--ctrlLoadSize));
}

/*|| Pages*/
#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.25s;
}

#navbar {
  margin: 0;
  z-index: 1;
}
#navbar ul {
  list-style-type: none;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--bg_tint1);
}
#navbar li {
  float: left;
}
#navbar .active {
  background-color: var(--primary);
}
#navbar a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  color: white;
  transition: background-color 1s;
}
#navbar a:hover {
  background: #111;
}
#navbar a:hover.active {
  background-color: var(--primaryShade);
}

#app {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}
#app > div {
  position: relative;
  padding: var(--textsize);
}
#app > div > div {
  margin: 0;
}
#app > div > div > div {
  padding: var(--textsize);
}
#app #control-panel {
  width: 100%;
  background-color: var(--bg_tint1);
}
#app #control-panel li {
  list-style-type: none;
  margin: 5px;
  font-size: 32px;
  align-items: center;
  color: #fdfdfd;
}
#app #control-panel li button {
  width: 256px;
  color: #fdfdfd;
}
#app #control-panel li > div {
  overflow: hidden;
}
#app #control-panel li > div.active {
  background-color: #6027b0;
}
#app #control-panel li > div > div > div {
  display: inline-block;
  align-items: flex-start;
  justify-content: center;
  padding: 16px;
}
#app #control-panel li > div input {
  padding: 0px 16px;
  font-size: 32px;
  margin: 5px;
  height: 64px;
}
#app #screen {
  background-color: var(--bg_tint1);
  border: var(--bg);
  color: #fdfdfd;
  height: 50%;
  margin-left: 2%;
  width: 100%;
  overflow: auto;
  min-width: 100px;
}
#app #screen #status {
  display: flex;
  justify-content: space-between;
  font-size: calc(var(--textsize));
  text-align: left;
}
#app #screen #status .loading_bar {
  display: hidden;
}
#app #screen #statusSign {
  margin-bottom: 58px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
#app #screen #statusSign b {
  color: green;
}
#app #screen pre {
  font-family: "Fira Code";
}

#divider {
  background-color: var(--primary);
  padding-left: 100%;
  padding-right: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--bg);
}

#hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/public/images/stars.png");
  height: 100%;
  margin: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#hero-image div {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
#hero-image div h1 {
  font-size: 50px;
  color: var(--primary);
}
#hero-image div a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  color: white;
  background-color: var(--secondaryShade);
  transition: 1s;
  border-radius: 16px;
}
#hero-image div a:hover {
  background: var(--secondary);
}/*# sourceMappingURL=styles.css.map */